*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "poppins", sans-serif;

}

body{
    background:black;
    width: 100%;
}


.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.img-container{
    background: no-repeat center url(https://wallpapers.com/images/high/the-handmaid-s-tale-poster-7xe7ihw3tdbqiqwh.webp);
    height: 20%;
    background-size: cover;
    position: relative;
}

.content-container{
background-color: aliceblue;
}

p{
    font-family: "poppins", sans-serif;
    font-size: 25px;
}

img{
    max-width: fit-content;
}

footer{
    color: azure;
}